.codeium-ghost {
  font-style: italic;
  color: #888888;
}

.codeium-ghost-line {
  padding-left: 0.1px;
}

.codeium-status-icon {
  width: 24px;
  height: 24px;
  overflow: hidden;
  float: right;
  background-size: contain;
  margin-top: 3px;
}

.codeium-status-active {
  background-image: url(codeium_square_logo.svg);
}

.codeium-status-inactive {
  background-image: url(codeium_square_inactive.svg);
}

.codeium-status-success {
  background-image: url(codeium_square_logo.svg);
}

.codeium-status-processing {
  background-image: url(codeium_square_processing.svg);
}

.codeium-status-warning {
  background-image: url(codeium_square_warning.svg);
}

.codeium-status-error {
  background-image: url(codeium_square_error.svg);
}
